<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
    }
</style>
<body>
  <table>
      <caption>Formulas and Results</caption>
      <tr><th>Formula</th><th>Result</th></tr>
      <tr><td>1 + 1</td><td>2</td></tr>
      <tr><td>3 * 5</td><td>15</td></tr>


  </table>
</body>
</html>
